@model List<ArooshyStore.Models.ViewModels.ProductCartViewModel>
<style>
    #checkout-sidebar-container {
        will-change: transform, opacity;
    }

</style>
<div id="checkout-sidebar-container">
    <div class="card rounded-0 border bg-transparent shadow-none">
        <div class="card-body">
            <p class="fs-5">Order Summary</p>
            @foreach (var cart in Model)
            {
                <div class="my-3 border-top"></div>
                <div class="d-flex align-items-center product-details">
                    <a class="d-block flex-shrink-0" href="javascript:;">
                        <img src="@cart.ImagePath" width="75" alt="Product" />
                    </a>
                    <div class="ps-2">
                        <h6 class="mb-1"><a href="javascript:;" class="text-dark">@cart.ProductName</a></h6>
                        <div class="widget-product-meta">
                            <span class="me-2">@cart.ActualSalePrice.ToString("C")</span>
                            <span class="">x @cart.Quantity</span>
                        </div>
                    </div>
                </div>
            }
          
        </div>
    </div>
    <div class="card rounded-0 border bg-transparent mb-0 shadow-none">
        <div class="card-body">
            <p class="mb-2">Subtotal: <span class="float-end"></span></p>
            <p class="mb-0">Discount: <span class="float-end">0.00</span></p>
            <div class="my-3 border-top"></div>
            <h5 class="mb-0">Order Total: <span class="float-end"></span></h5>
        </div>
    </div>
</div>
<script src="~/Areas/User/Script/ArooshyStoreScripts/CustomerAccount/InsertProductCart.js"></script>
