<div style="position: relative; margin-top:-100px; margin-bottom:-100px; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <h3 style="color: #e7026e; background-color: #ffe5f1; border: 1px solid #fe9ecb; padding: 10px; text-align: center; width: 90%; max-width: 500px;">
        Link Expired.
    </h3>
</div>
