﻿@{
    ViewBag.Title = "Purchase Invoice";
}
@using ArooshyStore.Models.ViewModels
@model List<ModuleViewModel>
<!-- END Page Header -->
<!-- BEGIN Page Content -->
<main id="js-page-content" role="main" class="page-content">
    <div class="row">
        <div class="col-md-12" style="display:flex">
            <table style="width:100%">
                <tr>
                    <th>
                        <ol class="breadcrumb breadcrumb-sm breadcrumb-arrow">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fal fa-clipboard"></i>
                                    &nbsp;
                                    <span class="hidden-md-down">Purchase Invoice</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)">
                                    <i class="fal fa-list-ol"></i>
                                    &nbsp;
                                    <span class="hidden-md-down">Purchase Invoices List</span>
                                </a>
                            </li>
                        </ol>
                    </th>
                    <th style="text-align:right">
                        <h6 class="js-get-date" style="margin-top: -7px;"></h6>
                    </th>
                </tr>
            </table>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-hdr bg-primary-500 bg-info-gradient" role="heading">
                    <h2>Purchase Invoices List</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="row" style="padding-left: 0px;padding-right: 0px;padding-top:0px">
                            <div class="col-lg-5" style="margin-top:4px">
                                @if (Model.Any(x => x.ActionName.ToLower() == "create"))
                                {
                                    <a href="javascript:void(0)" data-value="0" class="btn btn-outline-primary waves-effect waves-themed btnNew AddEditRecord btnOpenModal btnAddEdit" id="AddEditRecord">
                                        <i class="fal fa-plus-circle"></i>
                                        &nbsp;
                                        New Purchase Invoice
                                    </a>
                                }
                                @if (Model.Any(x => x.ActionName.ToLower() == "update"))
                                {
                                    <input type="hidden" id="EditActionRole" value="1" />
                                }
                                else
                                {
                                    <input type="hidden" id="EditActionRole" value="0" />
                                }
                                @if (Model.Any(x => x.ActionName.ToLower() == "delete"))
                                {
                                    <input type="hidden" id="DeleteActionRole" value="1" />
                                }
                                else
                                {
                                    <input type="hidden" id="DeleteActionRole" value="0" />
                                }
                                @if (Model.Any(x => x.ActionName.ToLower() == "approve"))
                                {
                                    <input type="hidden" id="ApproveActionRole" value="1" />
                                }
                                else
                                {
                                    <input type="hidden" id="ApproveActionRole" value="0" />
                                }
                            </div>
                            <div class="col-lg-7" style="margin-top:4px">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button id="btnSearchJobType" class="btn btn-outline-default dropdown-toggle btnSearchGo" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Invoice Number</button>
                                        <div class="dropdown-menu" id="ulSearchJobType">
                                            <a class="dropdown-item" href="#">Invoice Number</a>
                                        </div>
                                    </div>
                                    <input type="text" id="txtSearch" class="form-control" placeholder="Search here..." aria-label="Text input with dropdown button">
                                    <div class="input-group-append">
                                        <button id="btnSearch" class="btn btn-outline-default btnSearchGo" type="button" aria-haspopup="true" aria-expanded="false">Go</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="myTable" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                                <tr>
                                    <th class="min-mobile">Invoice Number #</th>
                                    <th class="min-tablet">Invoice Date</th>
                                    @*<th class="min-desktop">Customer</th>*@
                                    <th class="min-tablet">Net Amount</th>
                                    @*<th class="none">Delivery Charges</th>
                                        <th class="none">Invoice Type</th>
                                        <th class="none">Total Amount</th>
                                        <th class="none">Discount Type</th>
                                        <th class="none">Discount Rate</th>
                                        <th class="none">Discount Amount</th>*@
                                    <th class="none">Created Date</th>
                                    <th class="none">Created By</th>
                                    <th class="none">Updated Date</th>
                                    <th class="none">Updated By</th>
                                    <th class="min-mobile">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            @*<tfoot>
                                </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- this overlay is activated only when mobile menu is triggered -->
<script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/Invoice/PurchaseInvoiceIndex.js?v=1"></script>
