<link href="~/Areas/Admin/Content/ArooshyStoreCss/Account/CheckOldPassword.css" rel="stylesheet" />
<main id="js-page-content" role="main" class="page-content">
    <div class="row" style="position:relative;top:15vh;padding:25px">
        <div class="col-md-3">
        </div>

        <div class="card p-4  bg-faded col-md-6 card">

            <div class="form-group">
                <h6 class="panel-heading" style="font-size:28px;font-weight:bold">Old Password</h6>
                <input class="form-control" type="password" id="OldPassword" name="OldPassword" size="40" aria-invalid="false" placeholder="Old Password" required />
                <span data-toggle="#Password" id="eyeIcon" class="fal fa-fw fa-eye field-icon toggle-password" style="cursor:pointer;margin-right:10px;float:right;margin-top:-25px;"></span>
                <span class="PasswordTextbox"></span>
            </div>

            <div style="text-align:right">
                <a class="btn btn-default pull-right" href="/admin/home/index" id="btnCancel" style="background-color:#fff;color:#000;text-align:center;">
                    Cancel
                </a>
                &nbsp;
                <a class="btn btn-primary pull-right" id="btnSubmit" style="color:whitesmoke!important;">
                    Confirm
                </a>
            </div>
            <div class="text-center important" style="margin-top:10px">


            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</main>
<script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/Account/CheckOldPassword.js"></script>