@{
    string businessName = ViewBag.BusinessName;
    string bgImageSrc = ViewBag.BannerImage;
    string bgLogo = ViewBag.BusinessLogo;
    string bgColor = ViewBag.BgColor;
}
@using ArooshyStore.Models.ViewModels
@model UserViewModel
<input type="hidden" id="HiddenUserIdForResetPassword" value="@Model.UserId" />
<link href="~/Areas/Admin/Content/ArooshyStoreCss/Account/Login5.css" rel="stylesheet" />
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="blankpage-form-field" style="margin-top:33px">
    <div class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
        <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
            @*<img src="@bgLogo" alt="SmartAdmin WebApp" aria-roledescription="logo" style="height: 30px;width: 37px;">*@
            <img src="@bgLogo" style="width:38px;height:30px;float:left" />
            <span class="page-logo-text mr-1 businessTitle" style="font-size:18px;margin-top:3px;font-weight:bold">
                Reset Password
            </span>
        </a>
    </div>
    <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0 ResetForm">
        @using (Html.BeginForm("resetpassword", "account", FormMethod.Post, new { id = "resetForm", enctype = "multipart/form-data", role = "form" }))
        {
            <div class="form-group">
                <label class="form-label" for="password">
                    <i class="fal fa-lock"></i>&nbsp;
                    Password
                </label>
                <div class="input-group">
                    @*<div class="input-group-prepend">
                        <span class="input-group-text"><i class="fal fa-lock"></i></span>
                    </div>*@
                    <input type="password" class="form-control no-border" name="Password" id="Password" placeholder="Your Password here" value="" required>
                </div>
                <span data-toggle="#Password" id="eyeIcon" class="fal fa-fw fa-eye field-icon toggle-password" style="cursor:pointer"></span>
            </div>
            <div class="form-group">
                <label class="form-label" for="password">
                    <i class="fal fa-lock"></i>&nbsp;
                    Confirm Password
                </label>
                <div class="input-group">
                    @*<div class="input-group-prepend">
                        <span class="input-group-text"><i class="fal fa-lock"></i></span>
                    </div>*@
                    <input type="password" class="form-control no-border" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password here" value="" required>
                </div>
                <span data-toggle="#ConfirmPassword" id="eyeIcon2" class="fal fa-fw fa-eye field-icon toggle-password" style="cursor:pointer"></span>
            </div>
            @*<div class="form-group text-left">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rememberme">
                    <label class="custom-control-label" for="rememberme"> Remember me</label>
                </div>
            </div>*@

            <button type="submit" id="btnReset" class="btn float-right btnReset" style="width: 100%; background-color: @bgColor !important;color:#fff">Reset Now</button>
            <div class="text-center important" style="margin-top: 10px;margin-bottom:70px; color: #AF0001;">
            </div>
            <center>
                <div style="text-decoration:underline">
                    <a href="javascript:void(0)" id="btnGoBackToLoginOnResetForm">Click to Login Now.</a>
                </div>
            </center>
        }
    </div>

    @*<div class="blankpage-footer text-center">
            <a href="#" style="color:@bgColor"><strong>Forgot Password?</strong></a> </a>
        </div>*@
    @*<center>Developed By Internussoft</center>*@
</div>