<!--@{
    ViewBag.Title = "Home";
}
<main id="js-page-content" role="main" class="page-content">
    <div class="row">
        <div class="col-sm-3 col-xl-3">
            <div class="p-3 bg-brand-gradient rounded overflow-hidden position-relative text-white mb-g">
                <div class="">
                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                        0.00
                        <small class="m-0 l-h-n">Total Purchase</small>
                    </h3>
                </div>
                <i class="fas fa-users position-absolute pos-right pos-bottom opacity-20 mb-n5 mr-n6" style="font-size: 8rem;"></i>
            </div>
        </div>
        <div class="col-sm-3 col-xl-3">
            <div class="p-3 bg-dark rounded overflow-hidden position-relative text-white mb-g">
                <div class="">
                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                        Total Sale
                        <small class="m-0 l-h-n">0.00</small>
                    </h3>
                </div>
                <i class="fas fa-users position-absolute pos-right pos-bottom opacity-20  mb-n1 mr-n4" style="font-size: 6rem;"></i>
            </div>
        </div>
        <div class="col-sm-3 col-xl-3">
            <div class="p-3 bg-brand-gradient rounded overflow-hidden position-relative text-white mb-g">
                <div class="">
                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                        0.00
                        <small class="m-0 l-h-n">Total Expense</small>
                    </h3>
                </div>
                <i class="fas fa-globe position-absolute pos-right pos-bottom opacity-20 mb-n1 mr-n4" style="font-size: 6rem;"></i>
            </div>
        </div>
        <div class="col-sm-3 col-xl-3">
            <div class="p-3 bg-dark rounded overflow-hidden position-relative text-white mb-g">
                <div class="">
                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                        0
                        <small class="m-0 l-h-n">Total Products</small>
                    </h3>
                </div>
                <i class="fas fa-list position-absolute pos-right pos-bottom opacity-20 mb-n1 mr-n1" style="font-size:6rem"></i>
            </div>
        </div>
    </div>-->
@*<div id="panel-7" class="panel">
        <div class="panel-hdr">
            <h2>
                Attendance <span class="fw-300"><i>Graph</i></span>
            </h2>
            <div class="panel-toolbar">
                <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
            </div>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
                <div id="flot-bar-fill" style="width:100%; height:300px;"></div>
            </div>
        </div>
    </div>
    <div id="panel-12" class="panel">
        <div class="panel-hdr">
            <h2>
                Employees <span class="fw-300"><i>Per Department</i></span>
            </h2>
            <div class="panel-toolbar">
                <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
            </div>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
                <div id="doughnutChart">
                    <canvas style="width:100%; height:300px;"></canvas>
                </div>
            </div>
        </div>
    </div>*@
<!--</main>

<script src="~/Areas/Admin/Scripts/statistics/chartjs/chartjs.bundle.js"></script>
<script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/Home/Index.js"></script>-->
@*<h2>Welcome</h2>*@
@*<main id="js-page-content" role="main" class="page-content" style="margin-top:30px">
        <div class="h-alt-hf d-flex flex-column align-items-center justify-content-center text-center">
            <h1 class="page-error color-fusion-400" style="font-size:500% !important">
                <small class="fw-500">
                    This page is under development.
                </small>
            </h1>
            <img src="~/Content/img/errorimage2.png" style="height:120px" />
        </div>
    </main>*@
<main id="js-page-content" role="main" class="page-content" style="margin-left:auto;position:absolute;top:0;left:23%;right:0;bottom:0;z-index:2">
    <center>
        <h1 style="color:#AF0001;font-size:30px;font-weight:bold;margin-top:80px"></h1>
        <h1 style="color:#000;font-size:25px;font-weight:bold;">Under Development</h1>
        <hr style="border:1px solid #000;width:50%">
        <h4 style="color:#000;font-size:15px;font-weight:normal;">Sorry! This feature is still under development. <i class="fal fa-frown"></i></h4>

    </center>
</main>
<script type="text/javascript">
    $(document).ready(function () {

    })
</script>

