<main id="js-page-content" role="main" class="page-content" style="margin-left:auto;position:absolute;top:0;left:23%;right:0;bottom:0;z-index:2">
    <center>
        <h1 style="color:#AF0001;font-size:30px;font-weight:bold;margin-top:80px"></h1>
        <h1 style="color:#000;font-size:25px;font-weight:bold;">Under Development</h1>
        <hr style="border:1px solid #000;width:50%">
        <h4 style="color:#000;font-size:15px;font-weight:normal;">Sorry! This feature is still under development. <i class="fal fa-frown"></i></h4>

    </center>
</main>
