@using ArooshyStore.Models.ViewModels
@model DesignationViewModel
<div class="mySelect" style="overflow-x:hidden;margin-top:-20px;padding:0px">
    @using (Html.BeginForm("InsertUpdateDesignation", "Designation", FormMethod.Post, new { id = "popupForm", @class = "smart-form custome-class-form", @novalidate = "novalidate", enctype = "multipart/form-data" }))
    {
        <fieldset style="padding:1.25rem;">
            <div class="row" style="margin-top: 25px;">
                <section class="col-md-12">
                    <div style="padding:5px;padding-top:0px">
                        <label>Designation Name (*)</label>
                        <input type="hidden" id="DesignationId" name="DesignationId" value="@Model.DesignationId" />
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fal fa-random"></i>
                                </span>
                            </div>
                            @Html.TextBoxFor(a => a.DesignationName, new { @placeholder = "Designation Name", @class = "form-control" })
                        </div>
                    </div>
                </section>
            </div>
        </fieldset>
        <footer class="modal-footer" style="margin-top:11px;background-color:#F9F9F9;border-top:1px solid #ddd">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="btn_Save" class="btn btn-primary btnSaveForm">Save</button>
        </footer>
    }
</div>
<script src="~/Areas/Admin/Scripts/app.bundle.js"></script>
<script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/Designation/InsertUpdateDesignation.js?v=1"></script>