<center>
    <div class="alert alert-danger" style="margin: 20px">
        <strong>Oops!</strong> You have been logged out. Please login again.
    </div>
</center>
<script>
    $(document).ready(function () {
        setTimeout(function ()
        {
            location.reload();
        }, 3000);
    })
</script>
