<div style="overflow-x:hidden;margin-top:-20px;padding:0px">
    <main id="js-page-content" role="main" class="page-content" style="margin-top:30px">
        <div class="h-alt-hf d-flex flex-column align-items-center justify-content-center text-center">
            <h1 class="page-error color-fusion-400" style="font-size:500% !important">
                <span class="text-gradient">Access Denied</span>
                @*ERROR <span class="text-gradient">404</span>*@
                <small class="fw-500">
                    Sorry! You dont have <u>permission</u> to access this page.

                </small>
            </h1>
            <img src="~/Areas/Admin/Content/img/errorimage2.png" style="height:120px" />
        </div>
    </main>
</div>
