@using ArooshyStore.Models.ViewModels
@model List<CategoryViewModel>

<section class="py-4">
    <div class="container">
        <div class="separator pb-4">
            <div class="line"></div>
            <h5 class="mb-0 fw-bold separator-title">Browse Categories</h5>
            <div class="line"></div>
        </div>

        <div class="product-grid">
            <div class="browse-category owl-carousel owl-theme">
                @foreach (var category in Model)
                {
                    <div class="item">
                        <div class="card rounded-0">
                            <div class="card-body p-0">
                                <img src="@category.ImagePath" class="img-fluid" alt="@category.CategoryName" style="height: 200px; object-fit: cover;">
                            </div>
                            <div class="card-footer text-center bg-transparent border">
                                <h6 class="mb-1 text-uppercase fw-bold">@category.CategoryName</h6>
                                <p class="mb-0 font-12 text-uppercase">25 Products</p> 
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


