@using ArooshyStore.Models.ViewModels
@model List<CategoryViewModel>



<section class="cartegory-slider section-padding bg-section-2">
    <div class="container">
        <div class="text-center pb-3">
            <h3 class="mb-0 h3 fw-bold">Top Categories</h3>
            <p class="mb-0 text-capitalize">Select your favorite categories and purchase</p>
        </div>
        <div class="cartegory-box">
            @foreach (var category in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <a href="@Url.Action("CategoryDetails", "Shop", new { id = category.CategoryId })">
                        <div class="card">
                            <div class="card-body">
                                <div class="overflow-hidden">
                                    <img src="@category.ImagePath" class="card-img-top rounded-0" alt="@category.CategoryName" style="height: 200px; object-fit: cover;">
                                </div>
                                <div class="text-center">
                                    <h5 class="mb-1 category-name mt-3 fw-bold">@category.CategoryName</h5>
                                    <h6 class="mb-0 product-number fw-bold">25 Products</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
</div>
</section>