@using ArooshyStore.Models.ViewModels
@model DeliveryChargesViewModel
<div class="mySelect" style="overflow-x:hidden;margin-top:-20px;padding:0px">
    @using (Html.BeginForm("InsertUpdateDeliveryCharges", "DeliveryCharges", FormMethod.Post, new { id = "popupForm", @class = "smart-form custome-class-form", @novalidate = "novalidate", enctype = "multipart/form-data" }))
    {
        <fieldset style="padding:1.25rem;">
            
                <div class="row" style="margin-top: 25px;">
                    <section class="col-md-12">
                        <div style="padding:5px;padding-top:0px">
                            <label>Delivery Charges (*)</label>
                            <input type="hidden" id="DeliveryId" name="DeliveryId" value="@Model.DeliveryId" />
                            <input type="hidden" id="HiddenCityId" name="HiddenCityId" value="@Model.CityId" />
                            <input type="hidden" id="HiddenCityName" name="HiddenCityName" value="@Model.CityName" />
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fal fa-money-bill-alt"></i>
                                    </span>
                                </div>
                                @Html.TextBoxFor(a => a.DeliveryCharges, new { @placeholder = "Delivery Charges", @class = "form-control" })
                            </div>
                        </div>
                    </section>
                    <section class="col-md-12">
                        <div style="padding:5px;padding-top:0px;padding-right:0px">
                            <div class="input-group">
                                <table class="" style="width: 100%;">
                                    <tr>
                                        <td style="width: 80%;">
                                            <label class="form-label">Select City (*)</label>
                                            <div class="input-group" id="CityIdDiv">
                                                <select id="CityId" name="CityId"></select>
                                            </div>
                                        </td>
                                        <td style="width: 2%;margin-left: -5px;padding-top:8.7px;">
                                            <a href="/admin/city/index/" target="_blank" class="btn btn-primary btnPlusNewUserType" style="margin-top: 16px;color: #fff;padding: 9px;margin-left: -6px;background-color: #aaaaaa !important;border-color: #aaaaaa !important;padding-left: 12px;padding-right: 12px;" title="Add New City">
                                                <i class="fas fa-plus" style=""></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>

           
           

        </fieldset>
        <footer class="modal-footer" style="margin-top:11px;background-color:#F9F9F9;border-top:1px solid #ddd">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="btn_Save" class="btn btn-primary btnSaveForm">Save</button>
        </footer>

    }
</div>
<script src="~/Areas/Admin/Scripts/app.bundle.js"></script>
<script src="~/Areas/Admin/Scripts/ArooshyStoreScripts/DeliveryCharges/InsertUpdateDeliveryCharge.js"></script>

