#oldPassword:focus {
    background-color: #F0FFF0;
    border-color: #7DC27D;
}
.bg-faded{
    background-color:#fff !important;
}
#btnSubmit{
    margin-right:10px;
}
/*.card {
    box-shadow: 2px 16px 46px #D1D1D1, -14px -14px 28px #FFFFFF;
}*/
